* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
}

body {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* Header section */

.header-pic {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: white;
  background-color: black;
  padding: 5px 15px;
  margin: 65px auto 10px;
  width: fit-content;
}

/* //// NAVIGATION ///// */
nav.navigation {
  width: 100%;
  height: 64px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
}
li {
  padding: 30px;
  font-size: 18px;
  margin-top: 45px;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}
a:active {
  color: turquoise;
  font-weight: 300;
}
a:hover {
  cursor: pointer;
  color: turquoise;
}

/* Main Section  */

.about-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.text-container-one,
.text-container-two,
.text-container-three,
.text-container-four {
  margin: auto;
  text-align: center;
  max-width: 550px;
  margin-bottom: 30px;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: black;
}

footer > p {
  display: inline;
  margin: auto;
  font-size: medium;
  color: white;
}

.icons {
  margin: auto;
  display: inline-block;
  color: white;
}

.social-icon {
  padding-right: 10px;
}

@media (max-width: 768px) {
  nav.navigation ul {
    display: none;
  }

  nav.navigation ul.show-mobile-nav {
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-top: 55px;
    background-color: black;
    color: white;
    font-size: 2em;
    box-shadow: -7px -1px 13px 0px rgba(0, 0, 0, 0.22);
  }
  a {
    color: white;
    font-size: 20px;
  }
  li {
    padding: 0;
  }

  .about-img {
    width: 98%;
  }

  .text-container-one,
  .text-container-two,
  .text-container-three,
  .text-container-four {
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
  }

  footer {
    flex-direction: column;
  }
}