* {
  margin: 0;
  padding: 0;
}

/* Header section */

body {
  height: 100%;
  width: 100%;
  background-color: pink;
  font-family: "Oswald", sans-serif;
}

.header {
  height: fit-content;
}

.logo {
  display: block;
  margin: 3% auto;
}

nav {
  border: 2px solid purple; /* remember to remove this */
  max-width: 1000px;
  margin: auto;
  display: block;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}
a {
  flex-direction: row;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

a:hover {
  color: teal;
}

/* Main Section */

.main-pic {
  margin-top: 50px;
  margin-bottom: 30px;
}

.pic-container {
  position: relative;
}

.pic-text-container {
  position: absolute;
  top: 45%;
  right: 20%;
}

.white-box {
  font-size: 35px;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.black-box {
  width: fit-content;
  margin-bottom: 18px;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.main-btn {
  background-color: teal;
  color: white;
  border: none;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
}

.main-btn:hover {
  background-color: turquoise;
}

/* Bottom Section */

.bottom-pic-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

figure > img {
  border: 2px solid black;
}

figcaption {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: purple;
  color: white;
}

footer > p {
  display: inline;
  margin: auto;
  font-size: medium;
}

.icons {
  margin: auto;
  display: inline-block;
}

.social-icon {
  padding-right: 10px;
}

@media (max-width: 600px) {
  nav {
  }
}
