* body {
  margin: 0;
  padding: 0;
}

/* Header section */

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.logo {
  display: block;
  margin: 3% auto;
}

nav {
  max-width: 1000px;
  margin: auto;
  display: block;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}
.direction {
  flex-direction: row;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

a:hover {
  color: teal;
}

/* Main Section */

.main-pic {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pic-text-container {
  position: absolute;
  top: 45%;
  right: 25%;
}

.white-box {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 0 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.black-box {
  width: fit-content;
  margin-bottom: 18px;
  padding: 0 10px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.pic-text {
  padding: 5px 0;
}

.main-btn {
  background-color: teal;
  color: white;
  border: none;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
}

.main-btn:hover {
  background-color: turquoise;
}

/* Bottom Section */

.bottom-pic-container {
  display: flex;
  margin-top: ;
  justify-content: space-evenly;
  flex-direction: row;
}

figure > img {
  border: 2px solid black;
}

figcaption {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: black;
}

footer > p {
  display: inline;
  margin: auto;
  font-size: medium;
  color: white;
}

.icons {
  margin: auto;
  display: inline-block;
  color: white;
}

.social-icon {
  padding-right: 10px;
}

nav label,
#hamburger {
  display: none;
}

@media (max-width: 768px) {
  nav label {
    display: inline-block;
    color: teal;
    font-style: normal;
    font-size: xx-large;
    padding: 10px;
    cursor: pointer;
    margin-left: 45%;
  }

  nav ul li {
    display: block;
    text-align: center;
  }
  nav ul li {
    border-top: 3px solid turquoise;
  }
  nav ul {
    display: none;
  }
  nav input:checked ~ ul {
    display: block;
  }

  .direction {
    color: black;
  }

  .pic-container {
    max-width: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: right;
  }

  .pic-text-container {
    top: 42%;
    right: 15%;
  }

  .bottom-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  footer {
    flex-direction: column;
  }

  .icons {
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .pic-text-container {
    top: 44%;
    right: 15%;
  }
}
