* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
}

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}

/* Header section */

.header-pic {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

/* //// NAVIGATION ///// */
nav.navigation {
  width: 100%;
  height: 64px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
}
li {
  padding: 30px;
  font-size: 18px;
  margin-top: 45px;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}
a:active {
  color: turquoise;
  font-weight: 300;
}
a:hover {
  cursor: pointer;
  color: turquoise;
}

/* Main Section */

.pic-container {
  height: 554px;
  background-image: url("../Images/home-the-beacon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px auto;
}

.pic-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 500px;
}

.white-box {
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 0 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.black-box {
  width: fit-content;
  margin-bottom: 18px;
  padding: 0 10px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.pic-text {
  padding: 5px 0;
}

.main-btn {
  background-color: teal;
  color: white;
  border: none;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
}

.main-btn:hover {
  background-color: turquoise;
}

/* Bottom Section */

.bottom-pic-container {
  display: flex;
  margin-top: ;
  justify-content: space-evenly;
  flex-direction: row;
}

figure > img {
  border: 2px solid black;
}

figcaption {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: black;
}

footer > p {
  display: inline;
  margin: auto;
  font-size: medium;
  color: white;
}

.icons {
  margin: auto;
  display: inline-block;
  color: white;
}

.social-icon {
  padding-right: 10px;
}

@media (max-width: 768px) {
  nav.navigation ul {
    display: none;
  }

  nav.navigation ul.show-mobile-nav {
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-top: 55px;
    background-color: black;
    color: white;
    font-size: 2em;
    box-shadow: -7px -1px 13px 0px rgba(0, 0, 0, 0.22);
    z-index: 1;
  }
  a {
    color: white;
    font-size: 20px;
  }
  li {
    padding: 0;
    text-align: center;
  }

  input {
    width: 70%;
  }

  textarea {
    width: 70%;
  }

  .pic-container {
    background-position: left;
  }

  .pic-text-container {
    align-items: flex-start;
    margin-left: 30px;
  }

  .bottom-pic-container {
    flex-direction: column;
    text-align: center;
  }

  footer {
    flex-direction: column;
  }
}
